.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

.iconButton img {
    width: 21px;
    height: 21px;

}

.iconButton:hover {
    cursor: pointer;
    width: 27px;
    height: 27px;
}

.iconButton img:hover {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.iconButton:active {
    padding: 2px 0 0 2px;
}




