.forgotPassword {
    max-width: 300px;
    margin: 150px auto;
}

.button {
    text-align: center;
}

.button button {
    width: 50%;
    margin-bottom: 20px;
}

.link {
    text-align: center;
}
.text {
    margin: 0 0 10px 0;
    text-align: center;
}