.head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titleBlock{
    width: 100%;
    display: flex;
    align-items: center;
}

.title{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #000000;
}



