.text {
    height: 48px;
    width: 358px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.text span{
    font-weight: 800;
}

.modal button {
    width: 127px;
    height: 36px;
}


